@import "bootstrap/scss/bootstrap";

@import "@xterm/xterm/css/xterm.css";

html {
	background-color: rgba(34, 175, 176, 1);
	background: linear-gradient(
		to bottom,
		rgba(104, 144, 173, 1) 0%,
		rgba(102, 126, 153, 1) 100%
	);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100%;
}

body {
	font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
	font-weight: 300;
	background: none;
}
